:root {
  --primary-color: #2196f3;
  --white: #ffffff;
  --dark: #2f303a;
  --black: #000000;
  --anthracite: #212121;
  --ash: #757575;
  --light-gray: #f5f4fa;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 3%;
  color: var(--primary-color);
  text-decoration: none;
}
.studio-black {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--black);
}
.studio-white {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 3%;
  color: var(--white);
}
.nav-list {
  list-style-type: none;
}
.nav-list a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 2%;
  text-decoration: none;
  color: var(--black);
}
.nav-list :hover {
  color: var(--primary-color);
}
.contacts-list {
  text-decoration: none;
  font-style: normal;
  list-style-type: none;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 2%;
}

.contacts-list a {
  color: var(--ash);
  text-decoration: none;
}

.contacts-list li > a:hover {
  color: var(--primary-color);
}
.contacts-list li > a:focus {
  color: var(--primary-color);
}

.order {
  background-color: var(--dark);
  width: 1600px;
  height: 600px;
}
.order h1 {
  text-align: center;
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  color: var(--white);
  background-color: var(--dark);
}
.order button {
  color: var(--anthracite);
  background-color: var(--light-gray);
  cursor: pointer;
}
.order button:hover {
  background-color: var(--primary-color);
  color: var(--white);
}
.articles ul {
  list-style-type: none;
}
.articles h3 {
  color: var(--anthracite);
  font-style: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
}
.articles p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 3%;
  color: var(--ash);
}
.whatwedo ul {
  list-style-type: none;
}
.whatwedo h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 3%;
  color: var(--anthracite);
}
.team {
  background-color: var(--light-gray);
  list-style-type: none;
}
.team ul {
  list-style-type: none;
}
.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 3%;
  color: var(--anthracite);
}
.team figure {
  background-color: var(--white);
  width: 270px;
  height: 368px;
}
.team-member {
  font-weight: 500;
  height: 19px;
  width: 72px;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 3%;
  color: var(--anthracite);
}

.team-position {
  height: 19px;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 3%;
  color: var(--ash);
}

.background-style {
  background-color: var(--dark);
  width: 1600px;
  height: 252px;
}

.filtr {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 3%;
}
.filtr button {
  cursor: pointer;
  color: var(--anthracite);
  background-color: var(--light-gray);
}

.filtr button:hover {
  background-color: var(--primary-color);
  color: var(--white);
}
.filtr {
  list-style-type: none;
}
.portfolio {
  list-style-type: none;
}
.portfolio figure {
  width: 370px;
  height: 404px;
  background-color: var(--white);
}
.project-tittle {
  font-style: 700;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
  color: var(--anthracite);
}
.project-type {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 3%;
  color: var(--ash);
}
